/* line 2, ../../../scss/layout/partials/contacts.scss */
.mapField .container {
  position: relative;
}
/* line 4, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts {
  position: absolute;
  height: 418px;
  width: 464px;
  bottom: 0;
  right: 65px;
  padding-left: 36px;
  padding-right: 46px;
  padding-top: 23px;
  border-top: 9px solid #37e2b0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  /* outer glow */
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  /* outer glow */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  /* outer glow */
}
/* line 24, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts .sendMenuTitle {
  color: #797979;
  /* text color */
  font-family: "Open Sans Regular";
  font-size: 30px;
  margin-bottom: 20px;
}
/* line 30, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts .inputLi {
  padding: 0px 0px 15px 0px;
}
/* line 33, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts .inputLi input {
  width: 100%;
  outline: none;
  padding: 7px;
  opacity: .5;
  /* layer alpha */
  color: #4c505d;
  /* text color */
  font-family: "Open Sans Regular";
  font-size: 14px;
  border: 1px solid #d8d8d8;
  /* stroke */
  background-color: #fff;
  /* layer fill content */
}
/* line 45, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts #message {
  height: 95px;
  width: 100%;
  outline: none;
  padding: 6px;
  opacity: .5;
  /* layer alpha */
  color: #4c505d;
  /* text color */
  font-family: "Open Sans Regular";
  font-size: 14px;
  border: 1px solid #d8d8d8;
  /* stroke */
  background-color: #fff;
  /* layer fill content */
}
/* line 57, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts .sendBtn {
  float: right;
  margin-top: 12px;
  color: #fff;
  /* text color */
  font-family: "Open Sans Regular";
  font-size: 18px;
  padding: 6px 45px 6px 45px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #1dc795;
  /* layer fill content */
}
/* line 71, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts .sendBtn:hover {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
/* line 76, ../../../scss/layout/partials/_contacts.scss */
.mapField .container .contacts .sendBtn:active {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.75);
}
