/* line 2, ../../../scss/layout/partials/top_menu.scss */
.top_menu ul {
  margin-top: 10px;
}
/* line 4, ../../../scss/layout/partials/_top_menu.scss */
.top_menu ul li {
  padding: 7px 0 7px 40px;
  cursor: pointer;
  color: #7e7e7e;
  /* text color */
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
}
/* line 10, ../../../scss/layout/partials/_top_menu.scss */
.top_menu ul li:hover {
  background-color: #e5e5e5;
}
